<ui:composition template="template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">
        <h:outputText value="Cadastro de Funcionários" />
    </ui:define>

    <ui:define name="principal">
        <h1>Cadastro Funcionários</h1>
        <h:form id="formFunc">
            <p:panelGrid columns="2">
                <p:outputLabel value="Matricula:"/>
                <p:inputText   value="#{funcionarioMB.func.matricula}"/>
                <p:outputLabel value="Nome:"/>
                <p:inputText   value="#{funcionarioMB.func.nome}"/>

                <p:outputLabel value="Empresa" />
                <p:selectOneMenu value="#{funcionarioMB.empresaEscolhida}" converter="converterEmpresa" style="width:100%">
                    <f:selectItems value="#{funcionarioMB.empresas}" var="aux"
                                   itemValue="#{aux}" itemLabel="#{aux.nome}" />
                </p:selectOneMenu>


                <p:outputLabel value="Função:"/>
                <p:inputText   value="#{funcionarioMB.func.funcao}"/>
                <p:outputLabel value="Salário:"/>
                <p:inputText   value="#{funcionarioMB.func.salario}"/>
            </p:panelGrid>
            <p:commandButton value="Salvar"
                             action="#{funcionarioMB.salvar()}" 
                             update=":formFunc" />

            <p:growl id="msgs" showDetail="true"/>
            <p:dataTable id="dataTableFunc"
                         var="f" value="#{funcionarioMB.funcionarios}"
                         rows="10"
                         paginator="true"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="5,10,15"
                         editable="true"
                         selection="#{funcionarioMB.selectedFunc}"
                         selectionMode="single"
                         rowKey="#{f.matricula}"
                         >



                <p:ajax event="rowEdit" listener="#{funcionarioMB.onRowEdit}" update=":formFunc:msgs" />

                <p:column headerText="Matricula">
                    <p:outputLabel value="#{f.matricula}"/>
                </p:column>
                <p:column headerText="Nome" filterBy="#{f.nome}" 
                          filterMatchMode="contains" >
                    <p:outputLabel value="#{f.nome}"/>
                </p:column>
                <p:column headerText="Função">
                    <p:cellEditor>
                        <f:facet name="output"><p:outputLabel value="#{f.funcao}" /></f:facet>
                        <f:facet name="input"><p:inputText value="#{f.funcao}" style="width:100%" label="Função"/></f:facet>
                    </p:cellEditor>
                </p:column>
                <p:column headerText="Salário">
                    <p:outputLabel value="#{f.salario}"/>
                </p:column>

                <p:column headerText="Empresa" >
                    <p:cellEditor>
                        <f:facet name="output"> <p:outputLabel value="#{f.empresa.nome}"/></f:facet>
                        <f:facet name="input" >
                            <p:selectOneMenu value="#{f.empresa}" converter="converterEmpresa" style="width:100%">
                             <f:selectItems value="#{funcionarioMB.empresas}" var="aux"
                                               itemValue="#{aux}" itemLabel="#{aux.nome}"
                                               />
                            </p:selectOneMenu>
                        </f:facet>
                    </p:cellEditor>
                </p:column>

                <p:column style="width:32px">
                    <p:rowEditor />
                </p:column>
                <p:column style="width:32px">
                    <p:commandLink styleClass="ui-icon ui-icon-trash" 
                                   actionListener="#{funcionarioMB.removeFuncionario(f)}"
                                   update="dataTableFunc"
                                   />
                </p:column>

            </p:dataTable>

            <p:contextMenu for="dataTableFunc">
                <p:menuitem value="Remove" 
                            update="dataTableFunc" 
                            icon="ui-icon-close" 
                            actionListener="#{funcionarioMB.removeSelected}"/>
            </p:contextMenu>




        </h:form>


    </ui:define>
</ui:composition>





