<<<<<<< HEAD
<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Projeto Final</title>
    </h:head>
    <h:body>
       
    </h:body>
</html>
=======
<ui:composition template="template.xhtml"
               xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
                
        <ui:define name="title">
		<h:outputText value="Início" />
	</ui:define>

	<ui:define name="principal">
			<h1>Início</h1>
	</ui:define>
</ui:composition>




>>>>>>> d8a663ebf41fc1d430f9aafb81afba7b5536de89

